<%- include('header'); -%>
<link rel="stylesheet" href="/stylesheets/style.css">
<h1> Login Successful </h1>

  <h2>Welcome Admin </h2>


<form class="search" action="typeahead" method="post">
      <input class="form-control typeahead tt-query" type="text" name="input" placeholder="Search">
      <input class="btn btn-primary" type="submit" name="input" value="Submit">
    </form>