<%- include('header'); -%>
<%- include('logout'); -%>
<link rel="stylesheet" href="/stylesheets/style.css">
<h1> Buyers and Sellers Management </h1>
<a href="/add-buyer-seller">Add Buyer/ Seller</a>
<br>
<a href="/update-edit-buyer-seller">Edit Buyer/ Seller</a>
</body>
</html>