<%- include('header') %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Online Book Store</h1>
    
            <p>Welcome to the Online Book Store, our DBMS final project</p>
    </div>
</div>
<div class="container">
    <form id="searchForm">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search books" id="textBox" name="searchText">
            <div class="input-group-btn">
                <button id="sub" class="btn btn-default" type="submit">Search
                </button>
            </div>
        </div>
    </form>
</div>
<div>
    <div id="searchResultsContainer" class="py-5 px-5 card-group">
    </div>
</div>
<%- include('footer') %>