<%- include('header'); -%>
<%- include('logout'); -%>
<h1>Edit and Delete Buyer Seller</h1>
<br>
<form>
    <input type="text" name="username" id="username" placeholder="search by username">
  </form>
  <input type="submit" onclick="showInput();"><br/>

<%- include('footer'); -%>